# Day 10 Assignment

## Exercises: Level 1

In [11]:
# 1
for i in range(0, 11):
    print(i)

k = 0
while k <= 10:
    print(k)
    k += 1

0
1
2
3
4
5
6
7
8
9
10
0
1
2
3
4
5
6
7
8
9
10

In [12]:
# 2
for i in range(10, -1, -1):
    print(i)

k = 10
while k >= 0:
    print(k)
    k -= 1

10
9
8
7
6
5
4
3
2
1
0
10
9
8
7
6
5
4
3
2
1
0

In [13]:
# 3
hash_string = '#'
for i in range(1, 8):
    print(hash_string * i)

#
##
###
####
#####
######
#######

In [14]:
# 4
for i in range(1, 9):
    for j in range(1, 9):
        print("#", end=' ')
    print()

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [15]:
# 5
for i in range(0, 11):
    print(i, "x", i, "=", i * i)

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [16]:
# 6
for lang in ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']:
    print(lang)

Python
Numpy
Pandas
Django
Flask

In [17]:
# 7
for i in range(0, 101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [18]:
# 8
for i in range(0, 101):
    if i % 2 != 0:
        print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

## Exercises: Level 2

In [19]:
# 1
sum_nums = 0
for i in range(0, 101):
    sum_nums += i
print("The sum of all numbers is", sum_nums)

The sum of all numbers is 5050

In [20]:
# 2
even_sum = 0
odd_sum = 0
for i in range(0, 101):
    if i % 2 == 0:
        even_sum += i
    else:
        odd_sum += i
print("The sum of all even numbers is", even_sum)
print("The sum of all odd numbers is", odd_sum)

The sum of all even numbers is 2550
The sum of all odd numbers is 2500